body {  
    background-color: lightslategray;
}
.box {
    width: 18.5%;
    margin: 0 auto; 
    background: white;
    border-radius: 2%;
    padding: 1rem;
}
body {
    font-family: Oswald;
}
.form {
    text-align: left;
}
input[type="submit"] {
    background-color: green;
    color: white;
    padding: 3px 10px;
    border: none;
}
input[type="reset"] {
    background-color: red;
    color: white;
    padding: 3px 10px;
    border: none;
}

